<header>
    <h2>Słownik</h2>
  </header>
  
  <dx-form id="res-edit-dictionary" colCount="2" [formData]="state">
    <dxi-item itemType="group" caption="Informacje">
        
        <dxi-item
        dataField="value"
        editorType="dxTextBox"
        [label]="{text: 'Wartość'}"
      ></dxi-item>
      
    </dxi-item>
  
    <dxi-item itemType="group" caption="Edycja">
  
      <dxi-item
        bhDictionaryTypeEditor
        dataField="value"
        [label]="{text: 'Typ'}"
      ></dxi-item>
    </dxi-item>
  </dx-form>
  