
// Layout
$background: #191919;
$text: #FCFCFC;
$borders: #4d4d4d;
$background-alt: #2c2c2c;
$radius: 5px;

// States
$active-state: #1985A1;
$danger-state: #C33C54;
$warning-state: #F2DC5D;
$success-state: #499F68;

// z-index
$layout: 1000;
