<header>
    <h2>Planety</h2>
  </header>
  
  <dx-form id="res-edit-planet" [colCount]="2" [formData]="state">
    <dxi-item itemType="group" caption="Informacje">
        <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [label]="{text: 'Nazwa'}"
      ></dxi-item>

      <dxi-item
      bhPlanetTypeEditor
      dataField="planetType"
      [label]="{text: 'Typ planety'}"
    ></dxi-item>
  
    </dxi-item>
  
    <dxi-item itemType="group" caption="Edycja">
      
        <dxi-item
        bhGalaxyEditor
        dataField="galaxyId"
        [label]="{text: 'Galaktyka'}"
      ></dxi-item>

        <dxi-item
        bhDistrictMultipleEditor
        dataField="districtsIds"
        [label]="{text: 'Dystrykty'}"
      ></dxi-item>
  
    </dxi-item>
  </dx-form>
  