<header class="createContract-header">
  <h2>Dodawanie zlecenia</h2>
</header>

<dx-button
  (click)="goToAddVictim()"
  text="Dodaj ofiarę"
></dx-button>

<form (ngSubmit)="save()">
  <dx-form id="createContract-form" [colCount]="1" [formData]="state">

    <dxi-item itemType="group" caption="Informacje o celu">

      <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [label]="{text: 'Nazwa zlecenia'}">
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        bhVictimEditor
        dataField="victimId"
        [label]="{text: 'Ofiara'}">
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        bhDistrictEditor
        dataField="districtId"
        [label]="{text: 'Dystrykt'}">
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>

    </dxi-item>

    <dxi-item itemType="group" caption="Parametry zlecenia">

      <dxi-item
        dataField="fromDate"
        editorType="dxDateBox"
        [label]="{text: 'Data rozpoczęcia zlecenia'}"
        [editorOptions]="{type: 'datetime'}"
      >
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="thruDate"
        editorType="dxDateBox"
        [label]="{text: 'Data zakończenia zlecenia'}"
        [editorOptions]="{type: 'datetime', min: minDate}"
      >
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>

      <dxi-item bhPriorityFormEditor></dxi-item>

      <dxi-item
        dataField="payment"
        editorType="dxNumberBox"
        [label]="{text: 'Wynagrodzenie'}">
        <dxi-validation-rule type="required" message="wymagane"></dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="button" [buttonOptions]="{text: 'Utwórz zlecenie', useSubmitBehavior: true}"></dxi-item>

  </dx-form>
</form>
