<header>
    <h2>Kontrakt</h2>
  </header>
  
  <dx-form id="res-edit-contract" [colCount]="2" [formData]="state">
    <dxi-item itemType="group" caption="Informacje">
      <!-- <dxi-item
        dataField="id"
        editorType="dxTextBox"
        [label]="{text: 'Id'}"
        [editorOptions]="{readOnly: true}"
      ></dxi-item> -->
  
      <!-- <dxi-item
        dataField="version"
        editorType="dxTextBox"
        [label]="{text: 'Wersja'}"
        [editorOptions]="{readOnly: true}"
      ></dxi-item> -->
  
      <dxi-item
        dataField="contractStatus"
        editorType="dxTextBox"
        [label]="{text: 'Status'}"
      ></dxi-item>

      <dxi-item
      dataField="clientId"
      editorType="dxNumberBox"
      [label]="{text: 'clientId'}"
    ></dxi-item>
    <dxi-item
    dataField="districtId"
    editorType="dxNumberBox"
    [label]="{text: 'districtId'}"
  ></dxi-item>
  <dxi-item
  dataField="victimId"
  editorType="dxNumberBox"
  [label]="{text: 'victimId'}"
></dxi-item>
  
    </dxi-item>
  
    <dxi-item itemType="group" caption="Edycja">
      <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [label]="{text: 'Nazwa'}"
      ></dxi-item>
  
      <dxi-item bhPriorityFormEditor></dxi-item>
  
      <dxi-item
      dataField="payment"
      editorType="dxTextBox"
      [label]="{text: 'Zapłata'}"
    ></dxi-item>
  
      <dxi-item
        dataField="fromDate"
        editorType="dxDateBox"
        [label]="{text: 'Data początkowa'}"
      ></dxi-item>
  
      <dxi-item
        dataField="thruDate"
        editorType="dxDateBox"
        [label]="{text: 'Data końcowa'}"
      ></dxi-item>
  
    </dxi-item>
  </dx-form>
  