@import "variables";

.header {
  position: fixed;
  z-index: $layout;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid $borders;
  display: flex;
  box-shadow: inset 0px -40px 70px -10px rgba(#484848, 0.75);
  height: 80px;
  padding: 1rem 2.5rem .75rem 2.5rem;

  & &-navigation {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.header-navigation-wrapper {
  height: 100%;
  overflow-x: auto;
}

.header-navigation-list {
  height: 100%;
}




