<header class="registration-header">
  <h2>Rejestracja użytkownika</h2>
</header>

<form (ngSubmit)="onSignUp()">
  <dx-form id="registration-form" [colCount]="1" [formData]="state">
    <dxi-item itemType="group" caption="Informacje personalne">

      <dxi-item
        dataField="username"
        editorType="dxTextBox"
        [label]="{text: 'Nazwa użytkownika'}"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [editorOptions]="{mode: 'password'}"
        [label]="{text: 'Hasło'}"
      >
        <dxi-validation-rule
          type="stringLength"
          [max]="20"
          [min]="7"
          message="Musi mieć od 7 do 20 znaków"
        ></dxi-validation-rule>

        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        bhUserRoleEditor
        dataField="role"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Lokalizacja">

      <dxi-item
        bhGalaxyEditor
        dataField="galaxy"
        [valueExpr]="null"
        [label]="{text: 'Galaktyka'}"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="planets"
        bhUserDistrictsChooserEditor
        [galaxyId]="galaxyId"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item
      itemType="button"
      [buttonOptions]="{text: 'Zarejestruj się', useSubmitBehavior: true}"
    ></dxi-item>
  </dx-form>
</form>

<div class="mt-3">
  <a routerLink="/login">Mam już konto. Chcę się zalogować</a>
</div>
