<header>
  <h2>Ofiary</h2>
</header>

<dx-form id="res-edit-district" [colCount]="2" [formData]="state">
  <dxi-item itemType="group" caption="Informacje">
    <dxi-item
      dataField="id"
      editorType="dxTextBox"
      [label]="{text: 'Id'}"
      [editorOptions]="{readOnly: true}"
    ></dxi-item>

    <dxi-item
      dataField="version"
      editorType="dxTextBox"
      [label]="{text: 'Wersja'}"
      [editorOptions]="{readOnly: true}"
    ></dxi-item>

    <dxi-item
      dataField="age"
      editorType="dxNumberBox"
      [label]="{text: 'Data urodzin'}"
      [editorOptions]="{readOnly: true}"
    ></dxi-item>

  </dxi-item>

  <dxi-item itemType="group" caption="Edycja">
    <dxi-item
      dataField="name"
      editorType="dxTextBox"
      [label]="{text: 'Nazwa'}"
    ></dxi-item>

    <dxi-item
      dataField="alias"
      editorType="dxTextBox"
      [label]="{text: 'Alias'}"
    ></dxi-item>

    <dxi-item
      dataField="birthDate"
      editorType="dxDateBox"
      [label]="{text: 'Data urodzin'}"
    ></dxi-item>

    <dxi-item
      dataField="forceSensitive"
      editorType="dxCheckBox"
      [label]="{text: 'Podatny na działanie mocy'}"
    ></dxi-item>

    <dxi-item
      bhThreatLevelEditor
    ></dxi-item>
    <dxi-item></dxi-item>
  </dxi-item>
</dx-form>
