<header class="login-header">
  <h2>Logowanie</h2>
</header>

<dx-form id="login-form" [colCount]="1">

  <dxi-item itemType="group">
    <dxi-item
      dataField="login"
      [label]="{text: 'Nazwa użytkownika'}"
    >
      <dxi-validation-rule
        type="required"
        message="wymagane"
      ></dxi-validation-rule>
    </dxi-item>

    <dxi-item
      dataField="password"
      [label]="{text: 'Hasło'}"
    >
      <dxi-validation-rule
        type="required"
        message="wymagane"
      ></dxi-validation-rule>
    </dxi-item>

    <dxi-item itemType="button" [buttonOptions]="{text: 'Zaloguj się', useSubmitBehavior: true}">
    </dxi-item>

  </dxi-item>
</dx-form>
