<header class="login-header">
  <h2>Logowanie</h2>
</header>

<form (ngSubmit)="onSignIn()">
  <dx-form
    id="login-form"
    [colCount]="1"
    [formData]="state"
  >
    <dxi-item itemType="group">
      <dxi-item
        dataField="username"
        [label]="{text: 'Nazwa użytkownika'}"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="password"
        [label]="{text: 'Hasło'}"
        [editorOptions]="{mode: 'password'}"
      >
        <dxi-validation-rule
          type="required"
          message="wymagane"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item itemType="button" [buttonOptions]="{text: 'Zaloguj się', useSubmitBehavior: true}">
      </dxi-item>
    </dxi-item>
  </dx-form>

</form>

<div class="mt-3">
  <a routerLink="/sign-up">Nie mam konta. Chcę się zarejestrować.</a>
</div>


