<div class="login-container row">
  <div class="login-form col-xl-4 col-lg-6 col-md-8 col-sm-10">

    <form class="form" [formGroup]="form" (ngSubmit)="onLogin()">

      <div class="input-group">
        <input
          bhInput
          formControlName="login"
          type="text"
          placeholder="Nazwa użytkownika">
      </div>

      <div class="input-group">
        <input
          bhInput
          formControlName="password"
          type="password"
          placeholder="Hasło">
      </div>

      <button
        bhButton
        class="login-button">ZALOGUJ SIĘ</button>

    </form>

  </div>
</div>
