<header>
    <h2>Użytkownik</h2>
  </header>
  
  <dx-form id="res-edit-district" [colCount]="2" [formData]="state">
    <dxi-item itemType="group" caption="Informacje">
  
        <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [label]="{text: 'Nazwa'}"
      ></dxi-item>
 
      <dxi-item
      dataField="username"
      editorType="dxTextBox"
      [label]="{text: 'Nazwa użytkownika'}"
    ></dxi-item>
        
      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [label]="{text: 'Hasło'}"
      ></dxi-item>
  
      <dxi-item
        bhUserRoleEditor
        dataField="role.roleName"
        [label]="{text: 'Rola'}"
      ></dxi-item>
  
    </dxi-item>
  
    <dxi-item itemType="group" caption="Edycja">
      <dxi-item
        dataField="alias"
        editorType="dxTextBox"
        [label]="{text: 'Alias'}"
      ></dxi-item>
  
      <dxi-item
        dataField="birthDate"
        editorType="dxDateBox"
        [label]="{text: 'Data urodzin'}"
      ></dxi-item>
  
      <dxi-item
        dataField="registeredDate"
        editorType="dxDateBox"
        [label]="{text: 'Data rejestracji'}"
      ></dxi-item>
  
      <dxi-item
      dataField="enabled"
      editorType="dxCheckBox"
      [label]="{text: 'Aktywny'}"
    ></dxi-item>
    </dxi-item>
  </dx-form>
  